.blank {
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;
  padding-top: 75px;
}

.blank__texts {
  width: 50%;
  padding-top: 105px;

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    color: $color-default-white;

    margin: 45px 0 38px;
    max-width: 420px;

    @media (max-width: $mobiles-max) {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.blank__blobs {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
}

.blank__blob {
  position: absolute;

  width: 100%;
  height: 100%;
  content: '';

  &--green {
    width: 545px;
    height: 614px;
    right: 2%;
    top: 0;

    @media (max-width: $mobiles-max) {
      height: 246px;
      width: 268px;
    }
  }

  &--violet {
    height: 459px;
    width: 422px;
    top: 230px;
    right: 20%;

    @media (max-width: $mobiles-max) {
      width: 251px;
      height: 229px;
    }
  }
}
