.services {
  // margin-top: 300px;
}

.services__list {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.services__item {
  width: 32%;
  margin-right: 2%;
  transition: $transition-settings;

  video {
    height: 327px;
    object-fit: cover;
    transition: $transition-settings;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.services__text {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  margin: 30px 0 0 0;

  @media (max-width: $mobiles-max) {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
}
