/* general */
$mobiles: 500px;
$mobiles-max: 767px;
$tablets: 768px;
$tablets-sm: 950px;
$tablets-md: 1024px;
$tablets-max: 1199px;
$desktops: 1200px;
$desktops-sm: 1500px;
$desktops-md: 1720px;
$desktops-lg: 1800px;
$desktops-xl: 2300px;
$container: 1500px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$transition-settings: 0.3s all;

$color-red: red;
$color-black: #000;
$color-main-black: #0f1110;
$color-light-green: #00ffc5;
$color-default-white: #fff;

$color-placeholder: #d8d8d8;
